.daily-list {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  table {
    border: 1px solid black;
    width: 80%;
    margin: auto;

    td,
    th,
    tr {
      padding: 15px;
      border: 1px solid #d5d5d5;

      td:nth-child(4),
      td:nth-child(5) {
        width: 10%;
      }

      button {
        border: none;
        background-color: transparent;
      }

      td:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .edit-box {
    width: 90%;
    margin: auto;

    .close-icon {
      position: absolute;
      top: 25px;
      color: #091353;
      left: 540px;
      font-size: 35px;
    }

    form {
      margin: auto;
    }

    .submit {
      color: #fff;
      text-shadow: 1px 1px 2px #d5d5d5;
      background: linear-gradient(to bottom right, #e66465 0%, #9198e5 100%);
      width: 40%;
      font-size: 15px;
      padding: 1%;
      letter-spacing: 1px;
      border-radius: 20px;
      align-self: center;
      border-color: #9d84b7;
    }
  }
}
